* {
  margin: 0;
  padding: 0;
}
.title {
  color: red;
  font-family: 'Courier New', Courier, monospace;
  font-size: 3rem;
}
.header {
  text-align: center;
  margin-top: 5%;
}

.content {
  text-align: center;
  margin-top: 5%;
}
.form-row {
  padding: 1%;
}

.large-input {
  width: 25%;
  border-color: black;
  border: 3px solid;
  font-size: 15px;
  padding: 5px;
}

.submit-Button {
  border-radius: 0.8em;
  width: 15vh;
  background-color: red;
  color: white;
}
@media (max-width: 768px) {
  .large-input {
    width: 50%;
    font-size: 16px;
    padding: 8px;
  }

  .submit-Button {
    margin-top: 12px;
    border-radius: 0.8em;
    width: 25vh;
    font-size: 18px;
    background-color: red;
    color: white;
  }
}
