<div class="header">

    <h1 class="title">HR System</h1>
    <p>Please Login to Continue </p>


</div>

<div class="content">


    <form (ngSubmit)="onSubmit()">

        <div class="form-row">

            <input type="email" name="email" placeholder="Input your Email" id="" class="large-input"
                [(ngModel)]="email">
        </div>

        <div class="form-row">
            <input type="password" name="password" placeholder="Password" id="" class="large-input"
                [(ngModel)]="password">
        </div>
        <button type="submit" class="submit-Button">Login</button>


    </form>

</div>