.container {
  max-width: 800px; /* Adjust this as needed */
  margin: 0 auto;
  padding: 20px;
}

.header {
  text-align: center;
}

.title {
  font-size: 24px;
}

.content {
  margin-top: 20px;
  text-align: center;
}

.form-row {
  margin-bottom: 10px;
}

.large-input {
  width: 100%;
  padding: 10px;
  font-size: 16px;
}

.submit-Button {
  display: block;
  width: 100%;
  padding: 10px;
  font-size: 18px;
  background-color: #007bff;
  color: #fff;
  border: none;
  cursor: pointer;
}

@media (max-width: 768px) {
  .title {
    font-size: 20px;
  }

  .large-input {
    font-size: 14px;
  }

  .submit-Button {
    font-size: 16px;
  }
}
