.attendance-table {
  width: 100%;
  border-collapse: collapse;
  margin-top: 20px;
}
.datePicker {
  margin-left: 15px;
}

.AttendaceButton {
  background-color: #d32f2f;
  color: white;
  border: none;
  cursor: pointer;
  height: 5%;
}
.attendance-table th,
.attendance-table td {
  padding: 8px 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

.attendance-table th {
  background-color: #f2f2f2;
}

.attendance-table button {
  background-color: #f44336;
  color: white;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.attendance-table button:hover {
  background-color: #d32f2f;
}
